:root {
  --text-color: #263343;
  --background-color: #f0f4f5;
  ---accent-color: #547f5b;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
li {
  list-style: none;
}

aside {
  width: 100%;
  padding-top: 103px;
  height: 330px;

  /* height: 90%; */
}

section {
  width: 100%;
  /* background-color: blanchedalmond; */
}

article {
  /* border: 1px solid grey; */
}

/* 광고배너 */
.swiper {
  width: 100%;
  height: 90%;
  border-radius: 20px;
  box-sizing: border-box;
}

.swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  bottom: 200px;
}

.first-Banner {
  background-image: url('/images/banner11.jpg');
}
.second-Banner {
  background-image: url('/images/banner04.jpg');
}
.third-Banner {
  background-image: url('/images/banner07.jpg');
}

/* 서적리스트 */
.books_container {
}
.books_container > h2 {
  /* margin-left: 30px; */
  margin-left: 3%;
  width: 94%;
  padding-bottom: 10px;
  border-bottom: 2px solid #adadad;
}
.category {
  width: 100px;
  position: absolute;
  left: 0px;
  color: white;
  top: -60px;
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
  font-weight: bold;
}
.front {
  /* background-color: rgb(135, 222, 173); */
  background-color: #97cdb6;
  color: #000000;
}

.cs {
  /* background-color: rgb(129, 127, 255); */
  background-color: #019875;
}
.back {
  background-color: #d1e65b;
  color: #000000;
}

.blurred {
  opacity: 0.5;
}

/* 도서 */
.book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.book_item {
  width: 240px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  outline: 2px solid #547f5b;
  border-radius: 10px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}
.book_item > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #000000;
}

.book-image {
  width: 100%;
  height: 240px;
  margin: auto 0px;
  background-color: white;
  background-size: contain;
  background-position: 0px 40px;
  background-repeat: no-repeat;
}

.book_info {
  width: 100%;
  height: 20%;
  padding-top: 10px;
}

.book_name {
  /* margin-bottom: 10px; */
  margin: 0 10px;
}
.book_price {
  font-size: 13px;
  margin: 8px 0 0 0;
}
.books_list {
  height: 80%;
  display: grid;
  gap: 98px 5px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 0;
  margin-top: 80px;
}

.books_list li {
  text-align: center;
}

#wrap {
  height: auto;
  min-height: 100%;
  max-width: 1023px;
  margin: 0 auto;
  /* margin: 0 40px; */
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #wrap {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  aside {
    padding-top: 120px;
  }

  .books_container > h2 {
    margin-left: 5%;
    width: 90%;
    padding-bottom: 10px;
    border-bottom: 2px solid #adadad;
  }
}

@media screen and (min-width: 992px) {
  #wrap {
    /* margin: 0 75px; */
  }

  aside {
    width: 100%;
    height: 380px;
  }

  .books_container > h2 {
    margin-left: 1%;
    width: 98%;
    padding-bottom: 10px;
    border-bottom: 2px solid #adadad;
  }
}

@media screen and (min-width: 1200px) {
  #wrap {
    /* margin: 0 140px; */
  }

  aside {
    width: 100%;
    height: 400px;
  }
  .books_container > h2 {
    margin-left: 0;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid #adadad;
  }
}
