:root {
  --text-color: #263343;
  --background-color: #f0f4f5;
  ---accent-color: #547f5b;
}
body {
  margin: 0;
}

.header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 2;
  top: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
li {
  list-style: none;
}

aside {
  width: 100%;
  padding-top: 85px;
  background-color: #beffdc;
  height: 300px;
}
section {
  width: 100%;
  background-color: blanchedalmond;
}

article {
  border: 1px solid grey;
}

.nav {
  max-width: 1000px;
  height: 70px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  padding: 8px 12px;
}

.nav_logo h1 a {
  font-size: 24px;
  color: var(---accent-color);
}
.nav_logo h1 a img {
  width: 150px;
}

.nav_menu {
  display: flex;

  list-style: none;
  padding-left: 0;
}

.nav_menu li {
  padding: 8px 12px;
}

.nav_menu li:hover {
  background-color: var(---accent-color);
  border-radius: 4px;
}

.nav_menu li:hover a {
  color: var(--background-color);
}

.nav_login {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.nav_login li {
  padding: 8px 12px;
}

.nav_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(---accent-color);
}

/* 서적리스트 */
.books_list {
  height: 80%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 0 80px;
}

.books_list li {
  text-align: center;
}

.books_list li a img {
  width: 200px;
}

#wrap {
  height: auto;
  min-height: 100%;
  max-width: 80%;
  margin: 0 140px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.footer {
  width: 100%;
  height: 45px;
  background-color: #ececec;
  border-top: 1px solid#cacaca;

  position: relative;
  transform: translateY(-100%);
  /* bottom: 0; */
}
.foorer_container {
  text-align: center;
}
@media screen and (max-width: 768px) {
  #wrap {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .nav_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nav_menu li {
    width: 100%;
    text-align: center;
  }
  .nav_login {
    display: none;
    justify-content: center;
    width: 100%;
  }
  .nav_toogleBtn {
    display: block;
  }

  .nav_menu.active,
  .nav_login.active {
    display: flex;
  }
}
