:root {
  --text-color: #263343;
  --background-color: #f0f4f5;
  ---accent-color: #547f5b;
}
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
li {
  list-style: none;
}

aside {
  width: 100%;
  padding-top: 103px;
  background-color: #beffdc;
  height: 330px;
}

section {
  width: 100%;
  background-color: blanchedalmond;
}

article {
  border: 1px solid grey;
}

/* 광고배너 */
swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
}
.first-Banner{
  background-image: url("/images/banner01.png");
}
.second-Banner{
  background-image: url("/images/banner02.png");
}
.third-Banner{
  background-image: url("/images/banner03.png");
}

/* 서적리스트 */
.books_container{

}
.books_container > h2{
  margin-left: 30px;
  width: 94%;
  padding-bottom: 10px;
  border-bottom: 2px solid #adadad;
}
.front {
  position: absolute;
  left: 0px;
  background-color:green;
  color: white;
  border-radius: 50px;
  text-align: center;
  line-height: 25px;
  font-weight: bold;

}

.books_list {
  height: 80%;
  display: grid;
  /* gap: 15px; */
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 0;
}

.books_list li {
  text-align: center;
}

.books_list li a img {
  width: 200px;
}

#wrap {
  height: auto;
  min-height: 100%;
  max-width: 1023px;
  margin: 0 auto;
  /* margin: 0 40px; */
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}



@media screen and (max-width: 768px) {
  #wrap {
    height: auto;
    min-height: 100%;
    min-width: 100%;
    width: 100%;
    margin: 0;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
  }
}

@media screen and (min-width: 992px) { 

  #wrap {
    /* margin: 0 75px; */
  }
    

  aside {
    width: 100%;
    height: 380px;
  }
 } 


 @media screen and (min-width: 1200px ) { 

  #wrap {
    /* margin: 0 140px; */
  }

  aside {
    width: 100%;
    height: 400px;
  }
 
 }